.git
.gitmodules
.gitignore
__pycache__
*.py[cod]
*.so
*.egg-info
build
build/
dist
dist/
.eggs
runs/
logs/
datasets/
evaluations/
notebooks/
pretrained/
.DS_Store
.env
.venv
*.pth
*.pt
*.onnx
*.ckpt
**/.ipynb_checkpoints
