# Datasets
datasets/endomapper
datasets/COCO

# Catch all __pycache__ directories
**/__pycache__/

# Runs
runs/

# Weights
*.pth*

# Outputs
notebooks/outputs/
colon_visualization/

# Logs
logs/

# Experimetns
experiments/

# Results
results/

#VS-code settings
.vscode/